body{
    background-color: #842c14;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

div{
    border: 5px solid ;
    display: inline-block;
}

img{
    border-radius: 50%;
    border: 10px solid #d1ad92;

}

.inspo{
    background-color: #c4643e;
    height: 700px;
    width: 700px;
    display: inline-block;
}

h1{
    color: #842c14;
}

h2 {
    color: #842c14;
}

#title{
    font-size: 75%;
    background-color: #d9c6b5;
    color:#61443a;
    margin: auto;
    padding: 20px;
}

.palette{
    background-color: beige;
    color: #61443a;
    width: 800px;
}

.c{
    height: 100px;
    width: 100px;
    border-radius:100%;
    display: inline-block;
}

